# Importing the Models

In [134]:
import pandas as pd
import numpy as np
import seaborn as sns

In [182]:
#read the csv file
df=pd.read_csv('train(2).csv')

In [183]:
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [224]:
df.drop(['clock_speed','fc','m_dep','n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time'],inplace=True,axis=1)

In [200]:
df.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [225]:
df.head()

,battery_power,blue,dual_sim,four_g,int_memory,mobile_wt,three_g,touch_screen,wifi,price_range
0,842,0,0,0,7,188,0,0,1,1
1,1021,1,1,1,53,136,1,1,0,2
2,563,1,1,1,41,145,1,1,0,2
3,615,1,0,0,10,131,1,0,0,2
4,1821,1,0,1,44,141,1,1,0,1

In [226]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   dual_sim       2000 non-null   int64
 3   four_g         2000 non-null   int64
 4   int_memory     2000 non-null   int64
 5   mobile_wt      2000 non-null   int64
 6   three_g        2000 non-null   int64
 7   touch_screen   2000 non-null   int64
 8   wifi           2000 non-null   int64
 9   price_range    2000 non-null   int64
dtypes: int64(10)
memory usage: 156.4 KB

In [227]:
#checking the null values
df.isnull().sum()

battery_power    0
blue             0
dual_sim         0
four_g           0
int_memory       0
mobile_wt        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [228]:
x=df.iloc[:,:-1].values
y=df.iloc[:,1].values

In [229]:
from sklearn.model_selection import train_test_split
x_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [236]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()
classifier.fit(x_train,y_train)

C:\Users\samraj\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [237]:

y_pred=classifier.predict(X_test)

C:\Users\samraj\Anaconda3\lib\site-packages\sklearn\linear_model\base.py:291: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  indices = (scores > 0).astype(np.int)

In [238]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [239]:
accuracy_score(y_test,y_pred)

1.0

In [240]:
confusion_matrix(y_test,y_pred)

array([[302,   0],
       [  0, 298]], dtype=int64)

In [262]:
import pickle
pickle_out = open("classifier.pkl","wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()

In [247]:
df.columns

Index(['battery_power', 'blue', 'dual_sim', 'four_g', 'int_memory',
       'mobile_wt', 'three_g', 'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [251]:
def prediction_model(battery_power,blue,dual_sim, four_g,int_memory,mobile_wt, three_g, touch_screen, wifi):
    x=[[battery_power,blue,dual_sim, four_g,int_memory,mobile_wt, three_g, touch_screen, wifi]]
    classifier=pickle.load(open('mobile.sav','rb'))
    prediction=classifier.predict(x)
    print(prediction)

In [258]:
prediction_model(1,1,1,1,1,1,1,1,1)

[1]

C:\Users\samraj\Anaconda3\lib\site-packages\sklearn\linear_model\base.py:291: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  indices = (scores > 0).astype(np.int)

In [257]:
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[1 1]
 [1 1]
 [1 1]
 ...
 [1 1]
 [0 0]
 [1 1]]